resources/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-project",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -160,
        60
      ],
      "id": "e618214a-b2bf-49ba-933b-fb8d6e823886",
      "webhookId": "0cb4a0d2-7452-4549-b0af-bf508939a437"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "projectTitle",
              "value": "={{ $json.body.project_title }}"
            },
            {
              "name": "projectSummary",
              "value": "={{ $json.body.project_summary }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        60,
        60
      ],
      "id": "0cbf6d1f-34ce-4298-8451-7641a4139a77"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "your_spreadsheet_id",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        280,
        60
      ],
      "id": "3271c4dc-472e-4247-9e4a-1d5fd84d0106",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ExOwhlZSv33meFsL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee06b352-470f-4b34-8f58-35de552eb744",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6397e831310467b3e6c7849681b892cd3e4973290d500bf5c4dee32744bebd0"
  },
  "id": "pNnuD3TiVQ4leBG9",
  "tags": []
}